
body {
  color: #00008b;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-left: 10px;
  margin-right: 10px;
}

.alpha,
.omega {
  margin-left: 0;
  margin-right: 0;
}

.align_center,
.align_right {
  text-align: left;
}

/* applied styles */

.left {
    float: none;
    display: block;
    text-align: center;
}

.right {
    float: none;
    display: block;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



img.splash {
    display: none;
}

div.header {
    margin: 5px;
    border: solid 1px #00008b;
    box-shadow: 3px 3px 3px #888;
}

.header h1 {
    display: none;
}

.header h2 {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 36pt;
    text-align: center;
    margin: 0;
}

.header h3 {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 16pt;
    text-align: center;
    margin: 0;
}

.header p {
    margin: 0;
}


div.break {
    box-shadow: 3px 3px 3px #888;
    border: solid 1px #00008b;
    margin-bottom: 3px;
}

div.space {
    margin-bottom: 3px;
}

div.small {
    margin-top: 12px;
    margin-bottom: 12px;
}

.small img {
    margin-bottom: 5px;
    box-shadow: 3px 3px 3px #888;
    border: solid 1px #00008b;
    width: 297px;
}

.small h3 {
    margin-bottom: 5px;
}

.small p {
    margin-bottom: 5px;
}

div.footer {
    margin: 5px;
    border: solid 1px #00008b;
    box-shadow: 3px 3px 3px #888;
}

.footer p {
    margin-bottom: 0px;
}
